.navbar {
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 10;

    img {
        float: right;
        margin-right: 50px;
        width: 230px;
        cursor: pointer;
        z-index: 10;
    }
}