.search-container {
    position: relative;
    color: #fff;
    z-index: 3;
    top: 18%;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid rgb(78, 37, 30);

    .left-side-wrapper {
        width: 50%;
        padding: 20px 15px;
        text-align: center;
        border-right: 1px solid rgb(78, 37, 30);

        span:first-of-type {
            background-color: hsl(32, 100%, 50%);
            letter-spacing: 2px;
            color: black;
        }
    }

    .right-side-wrapper {
        width: 50%;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-option-wrapper {
            margin-bottom: 1rem;

            h4 {
                border: 1px solid rgb(92, 92, 92);
                display: inline-block;
                margin: 0 10px;
                padding: 5px 15px;
                width: 150px;
                text-align: center;
                background: rgba(128, 128, 128, 0.062);
                color: grey;
                cursor: pointer;
            }

            .selected {
                border: 2px solid rgb(0, 195, 255);
                background: rgba(105, 171, 209, 0.274);
                color: #fff;
            }
        }

        .search-input-wrapper {
            button {
                margin-left: 2rem;
            }
        }
    }
}